* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



#cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    background-color: red;
}

#logo {
    width: 100px;
    margin: 10px 100px;
}

.navegacao {
    margin: 10px 100px;
}

.links-nav {
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    margin: 2px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.links-nav:hover {
    color: red;
    background-color: white;
    border-radius: 2.5px;
}

